.am{
    border: solid 1px #ddd;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
}
.dp{

    border: solid 1px #ddd;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
}