html,body{
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  .top-header{
    display: flex;
    padding: 8px;
    justify-content: space-between;
    span{
      margin-left: 40px;
      display: inline-block;
      color: #29b078;
      font-size: 10px;
    }
    .logo{
      margin-right: 40px;
      img{
        max-width: 20px;
      }
    }
  }
  .dh-header{
    width: 100%;
    background-color: #29b078;
    ul{
      margin: 0;
      li{
        padding: 40px;
        display: inline-block;
        color: white;
      }
    }
  }
  .xdh-header{
    label{
      display: flex;
      justify-content: flex-end;
      padding: 20px;
    }
    .panel{
      background-color:#29b078;
      color: white;
      display: none;
    }
    input{
      display: none;
    }
    input[type=checkbox]:checked+.panel{
      display: block;
    }
  }
}
main{
  .container{
    padding-left: 10%;
    padding-right: 10%;
  }
  .box{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    .box1{
      display: flex;
      flex-direction: column;
      width: 25%;
      p{
        text-align: center;
      }
      img{
        margin: 0 auto;
        display: block;
      }
      span{
        width: 50%;
        margin: 0 auto;
        display: block;
      }
    }
    .box2{
      width: 25%;
      p{
        text-align: center;
      }
      img{
        margin: 0 auto;
        display: block;
      }
      span{
        width: 50%;
        margin: 0 auto;
        display: block;
      }
    }
    .box3{
      width: 25%;
      p{
        text-align: center;
      }
      img{
        margin: 0 auto;
        display: block;
      }
      span{
        width: 50%;
        margin: 0 auto;
        display: block;
      }
    }
    .box4{
      border-left: dashed 2px #dddddd;
      padding-left: 30px;
      padding-top: 45px;
      width: 25%;
      span{
        display: block;
      }
    }
  }
  .howlearn{
    display: flex;
    justify-content: center;
    .learn1{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 25%;
    }
    span{
      width: 50%;
    }
  }
  .howlearn1{
    display: flex;
    justify-content: center;
    .learn1{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 25%;
    }
    span{
      width: 50%;
    }
  }
  .student{
    display: flex;
    justify-content: space-around;
    .student1{
      border: solid 2px #dddddd;
      width: 20%;
      span{
        display: block;
        text-align: center;
      }
      img{
        display: table; margin: 0 auto;
      }
    }
  }
  .enterprise{
    display: flex;
    justify-content: space-around;
    .company{
      img{
        max-width: 150px;
        margin: 10px;
      }
    }
  }
}
footer{
  .db{
    display: flex;
    justify-content: space-evenly;
    .f1{
      line-height: 30px;
      display: inline-block;
      span{
        display: block;
      }
    }
    .f2{
      line-height: 30px;
      display: inline-block;
      span{
        display: block;
      }
    }
    .f3{
      display: inline-block;
      span{
        display: block;
      }
    }
  }
  }
@media screen and (max-width: 768px) {
  footer .db {
    display: flex;
    flex-direction: column;
  }
}
header .xdh-header .panel p:hover{
  border-bottom: solid 2px white;
}
header .dh-header ul li:hover{
  border-bottom: 2px solid white;
}
@media screen and (max-width: 768px) {
  ul {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .xdh-header {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .xdh-header {
    display: inline;
  }
}
@media screen and (min-width: 768px) {
  ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .mid1.mid2.mid3.mid4 {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  main .box {
    .box1{
      width:100%;
    }
    .box2{
      width:100%;
    }
    .box3{
      width:100%;
    }
    .box4{
      border: none;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  main .howlearn{
    .learn1{
      width: 100%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  main .howlearn1{
    .learn1{
      width: 100%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  main .student{
    .student1{
      width: 80%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  main .enterprise{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
main .student .student1:hover {
  box-shadow: 1px 1px 15px 1px #999;
}
main .container .enterprise .company:hover{
  box-shadow: 1px 1px 15px 1px #999;
}


